:root{
/*déclaration des variables pour les couleurs*/
--white: #FFFFFF;
--orange: #FAB637;
--red: #FF4848;
--brown:#CC6119;
--grey: #CC6119;
--black: #232628;
--blue: #6C98E1;
}

*{
    font-family: 'open-sans';
}

header{
    display: flex;
    flex-direction: row;
    height: 80px;
    background-color: var(--black);
    color:var(--white)
}

.texteOrange{
    color: var(--brown) !important;
}

#hContainer{
    display: flex;
    flex-direction: row;
}

h1, h2, h1 span{
    text-transform: uppercase;
    font-family: 'montserrat' !important;
}

nav{ /*cache la barre de navigation pour la vue mobile*/
    display: none; 
}


/*header, #banniereDesktop{
    display: none;
}

#hTel{
    display: inline-block !important;
}*/

img{
    width: 100%;
}