:root{
/*déclaration des variables pour les couleurs*/
--white: #FFFFFF;
--orange: #FAB637;
--red: #FF4848;
--brown:#CC6119;
--grey: #ECEFF3;
--darkGrey:#333;
--black: #232628;
--blue: #6C98E1;
}

*{
    font-family: 'open-sans'; /*Police de corps*/
    box-sizing: border-box;
    margin: 0;
}

h1, h2, h3, h1 span, h2 span{/*définit la police et la capitalisation des titres*/
    text-transform: uppercase;
    font-family: 'montserrat'; /*Police de titre*/
}

header{/*contenaire principal du header*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: baseline;
    height: 90px;
    background-color: var(--black);
    color:var(--white);
    font-weight: bold;
}

.headerCtr h1{ /*style du titre CLUB AUTO*/
    align-self: center;
    font-weight: bold;
    font-size: 1.9em;
}

.texteOrange{
    color: var(--brown) !important; /*Colore les éléments en marron clair*/
}

.headerFontSize{/*font size des titres en orange seulement sur le header*/
    font-size: .8em;
}

.headerCtr{/* container des infos du header, allant du titre au social media buutons*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 70px;
}

.headerLogo{/* Div permettant d'agencer le texte et le logo pour l'adresse et le téléphone dans le header*/
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 60px;
}

.headerLogo img{/*définit la taille des icones adresse et tél*/
    width: 35px;
    height: 35px;
}

.headerAdresse, .headerTel, .horaireEtOuvertureCtr{/*mise en forme commune aux infos du header*/
    padding-top: 20px;
    height: 60px;
    display: flex;
    flex-direction: column;
}

.headerAdresse, .headerTel, .horaireEtOuvertureCtr{ /*Permet d'égaliser la hauteur entre les infos du header*/
    justify-content: baseline;
}

.headerAdresse p{/*Mise en forme du texte de l'adresse*/
    color: #AAA;
    text-transform: uppercase;
    font-family: 'montserrat' !important; /*Police de titre*/
    font-size: 0.75em;
    width: 80%;    
}

.headerTel p{
    font-family: 'montserrat' !important; /*Police de titre*/
    font-size: 1.1em;
}

.horaireCtr{ /*Contient et permet l'alignement des jours d'ouvertures*/
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.horaireCtr p{ /*Police des jours d'ouverture*/
    font-family: 'montserrat' !important; /*Police de titre*/
    font-size: 0.85em;
    padding-left: 10px;
}

.socialMediaCtr{/*Aligne les bouton social media*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.headerSocial-t{/*style twitter bouton*/
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: var(--darkGrey);
    padding: 8px;
}

.headerSocial-f{/*style facebook bouton*/
    border: 1px solid transparent;
    border-radius: 50%;
    background-color: var(--darkGrey);
    padding:  8px 12px;
}

.sourceNav{
    /*display: none;*/  /*cache la barre de navigation pour la vue mobile*/
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: end;
    background-color:var(--grey) ;
    opacity: 0.9;
    top: 90px;
    z-index: 500;
}

.sourceNav ul{ 
    width: 100%;
    padding: 0;
    margin-right: 12%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.sourceNav li{ /*Définit la dimensions des liens barres nav*/
    width: 7em;
    height: 50px;
    list-style-type: none;
}

.sourceNav a{ /*Définit le style et l'alignement des liens de la barre de navigation*/
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: var(--black);
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 0.85em;
}

.sourceNav a:hover{/*Hover des links*/
    background-color: var(--brown);
    color: var(--white);
}

#banniereDesktop{/*Dimensions de la bannière photgraphique*/
    position: relative;
    height: 800px;
}

#banniereDesktop img{/*Dimensions de la bannière photgraphique*/
    object-fit: cover;
    width: 100%;
    height: 800px;
}

.sectionTitle{/*Style du titre au dessous de la bannière photo*/
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    color: var(--white);
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
    font-weight: bold;
    font-size: 1.3em;
}

.underline{
    border-bottom: solid 2px var(--grey);
    padding-bottom: 30px;
    margin-bottom: 20px;
}

.articleMainCtr{/*style de l'ensemble de l'article*/
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.articleMain{
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}

.articleImg, .articleText{ /*Taille du texte et de  la photo sur la même ligne*/
    width: 48%; /*taille réglée pour laisser un gap*/
}

.articleText h3{
    font-size: 0.85em;
}

.articleText p, .articleText li{ /*stylise le textes en dessous du titre LE MEILLEUR DE L'AUTOMOBILE*/
    color: #444;
    font-size: 1.05em;
}

.articleText li{
    margin-top: 10px;
}

.frameCtrBg{/*Div contenant le background et l'agencement des deux div bouton d'achat et loca*/
    background-image: url('/images/vehicule1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.frameCtr{ /*contient les deux encardés et les aligne horizontalement*/
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 600px;
}

.achatFrame{/*défini les dimensions des deux encadrés*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 35px 35px;
    width: 450px;
    height: 230px;
}

.achatFrame h2{ /*Titre des ecnadrés*/
    font-size: 1.6em;
    text-transform: full-size-kana !important;/*permet d'annuler l'uppercase en mettant une majuscule à la première lettre uniquement*/
    font-family: 'montserrat' !important;
}

.achatFrame p{/*texte en blanc des encadrés*/
    font-size: 1em;
    color: var(--white);
}

.bgJaune{
    background-color: var(--orange);
    opacity: 0.85;
}

.bgRouge{
    background-color: var(--red);
    opacity: 0.85;
}

.vehiculeRecentCtr{/*contient le bloc des vehicules recents*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 550px;
    background-color:  var(--black);
}

.vehiculeRecentTitle{/*Titre et ligne orange au dessous*/
    width: 100%;
    height: 60px;
    text-align: center;
    color:  var(--white);
    font-size: 1.8em;
    border-bottom: solid 3px var(--brown);
}

.vehiculeRecentCtr ul{/*dispose les images du diapo*/
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.vehiculeRecentCtr a{/*aligne l'img et le bloc du texte*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 350px;
    height: 370px;
    text-decoration: none;
}

.vehiculeRecentCtr a div{/*contient le texte le prix pour les aligner*/
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--darkGrey);
    height: 100px;
}

.vehiculeRecentCtr a div h3{/*dimensionne le titre contenant la marque et modèle*/
    display: flex;
    align-items: center;
    width: 50%;
}

.vehiculeRecentCtr strong{/*style de la marque et du modèle du vehicule*/
    font-family: 'Montserrat' !important;
    font-size: 0.9em;
    color: var(--white);
}

.vehiculeRecentCtr a div p{/*style du prix*/     
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--white);
    font-size: 0.9em;
    background-color: var(--blue);
    height: 40px;
    width: 85px;
    font-family: 'Montserrat' !important;
}

.vehiculeRecentCtr a div p span{/*prix barré*/
    color: var(--black);
    text-decoration: line-through;
}

.underlineVehicule{/*style de la barre du dessous*/
    width: 90%;
    position: absolute;
    border-bottom: solid 1px #666;
    bottom: 15px;
}

.nosQualiteCtr{/*contenaire de la section des qualités*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 500px;
    width: 100%;
}

.nosQualiteCtr img{/*taille du logo*/
    width: 60px;
    height: 60px;
}

.lesQuatresQualitesCtr{/*div pour aligner et répartir les quatres qualités*/
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.qualiteUnique{/*contenaire du logo+texte*/
    width: 350px;
    display: flex;
    justify-content: space-around;
}

.qualiteUnique div{ /*dimensionne le bloc de texte pour le séparer du logo*/
    width: 70%;
}

.qualiteUnique h3{/*Style du titre de la qualité*/
    font-size: 1.2em;
    margin-bottom: 15px;
}

.nosQualiteCtr button{/*Style du bouton contactez-nous*/
    width: 200px;
    border: 1px solid transparent;
    border-radius: 3px;
    background-color: var(--blue);
    padding: 10px;
    color: var(--white);
    font-weight: bold;
    font-family: 'Montserrat';
}

.banniereVenteEtLocaCtr{/*contenaire de la banière avec un bg image*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('/images/vehicule3.jpg');
}

.banniereVenteEtLocaCtr > div{/*positionne la div et définit une largeur diféérente de la classe utilisée précédemment*/
    width: 500px !important;
    margin-left: 20%;
}

.banniereVenteEtLocaCtr h2{/*taille du titre en noir*/
    font-size: 1.8em;
    text-transform: uppercase !important;
}

.banniereVenteEtLocaCtr h3{/*taille du titre en blanc*/
    color: var(--white);
    text-transform: uppercase !important;
    font-size: 1.8em;
}

.banniereVenteEtLocaCtr p{
    color: var(--black);
    font-size: 1.1em;
}

footer{
    height: 300px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: var(--white);
}

footer > div{/*englobe toutes les infos du dooter et les aligne en row*/
    display: flex;
    justify-content: space-around;
}

footer > div > div{/*div de chaque info*/
    width: 20%;
}

.footerInfo{ /*contenaire du footer et aligne les infos et le copyright*/
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    width: 330px;
    height: 150px;
}

.footerInfo h2{
    padding-bottom: 15px;
}

.presentation span{/*style le AUTO en blanc*/
    color: var(--white);
}

.presentation h2{/*Style le CLUB en bleu*/
    font-size: 1.2em;
    color: var(--blue);
}

.presentation p{
    color: #CCC;
}

.footerHoraire{
    height: 100px;
    font-size: 1.2em;
}

.footerHoraire span{
    color: #CCC;
}

.footerHoraire h2{
    font-size: 0.95em !important;
}

.newsletter h2{
    font-size: 1.15em;
}

.newsletter input{ /*style de la barre d'input de la newsletter*/
    width: 200px;
    height: 35px;
    border-radius: 0;
    border: none;
    font-size: 0.9em;
    padding-left: 10px;
    color: var(--darkGrey);
    outline: none;
    font-family: 'Montserrat' !important;
    font-weight: 500;
}

.newsletter button{ /*Style du bouton newsletter*/
    border: none;
    background-color: var(--brown);
    border-radius: 0;
    width: 35px;
    height: 35px;
}

.newsletter > div{/*aligne la barre et le bouton*/
    display: flex;
    justify-content: baseline;
    padding-bottom: 10px;
}

.newsletter p{
    color: #CCC;
    width: 70%;
}

.footerSocial > h2{
    font-size: 1.15em;
}

.footerSocial a{
    text-decoration: none;
}

.footerSocial > div{/*aligne les boutons de social media*/
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    list-style-type: none;
    height: 50px;
    padding: 0;
}

.footerSocialButton{/*style du bouton social media*/
    display: flex !important;/*important force le flex car le display inline block et mis par défaut par font awesome*/
    align-items: center;
    justify-content: center;
    border-radius: 0;
    height: 50px;
    width: 50px;
    font-size: 22px;
    margin-right: 15px;
    border: 1px solid transparent;
    background-color: var(--darkGrey);
}

.copyright{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: solid 2px #666;
    height: 50px;
    color: #CCC;
}

/*STYLE DE LA PAGE CONTACT.HTML*/

.contactSection{/*container de la section complète, bg et formulaire de contact inclus*/
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    height: 600px;
    background-image: url('/images/vehicule3.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.formBg{/*container du formulaire avec son bg blanc*/
    height: 70%;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    z-index: 100;
    box-shadow: 3px 3px 7px 2px #888;
}

.formCtr{/*container des infos du formulaire, titre compris*/
    width: 80%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
}

.formCtr h2{
    font-size: 2.5em;
}

.formInfo{ /*container des champs de saisie*/
    display: flex;
    justify-content: baseline;
    align-items: center;
    height: 90%;
}

.formInfo label{
    font-family: 'Montserrat' !important;
    color: #AAA;
}

.prenomMail, .nomTel, .formMessage{ /*permet d'aligner les différents champs verticalement*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 180px;
    width: 100%;
    margin-right: 50px;
}

.formLine{ /*permet la mise en forme du label et du champ de saisie*/
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70px;
}

.prenomMail input, .nomTel input, .formMessage > textarea{ /*style le champs de saisie*/
    font-family: 'Montserrat' !important;
    height: 40px;
    width: 100%;
    color: #999;
    padding-left: 15px;
    background-color: var(--grey);
    outline-style: none;
    border: none;
    resize: none;
}

.formMessage{/*aligne le textarea titre et submit*/ 
    display: flex;
    flex-direction: column;
    position: relative;
}

.formMessage > textarea{
    padding-top: 10px;
    height: 135px !important;
    width: 120% !important;
}

.formMessage > .submit{ /*style le bouton submit*/
    position: absolute;
    left: 0;
    bottom: -50px;
    height: 40px;
    width: 150px;
    background-color: var(--blue);
    color: var(--white);
    text-align: center;
    border-radius: 5px;
    font-family: 'Montserrat' !important;
    border: none;
    cursor: pointer;
}
.formMessage > .submit:active{
background-color: #547bb9;
}


/*STYLE DE LA PAGE VEHICULEDETAILS.HTML*/

/*Rrefonte de la barre de navigation pour quitter l'opacité et la position absolute
 des pages accueil et contact*/

.navVehicule{
    /*display: none;*/  /*cache la barre de navigation pour la vue mobile*/
    width: 100%; 
    display: flex;
    justify-content: end;
    background-color:var(--grey);
}
.navVehicule ul{ 
    width: 100%;
    padding: 0;
    margin-right: 12%;
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.navVehicule li{ /*Définit la dimensions des liens barres nav*/
    width: 7em;
    height: 50px;
    list-style-type: none;
}
.navVehicule a{ /*Définit le style et l'alignement des liens de la barre de navigation*/
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: var(--black);
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 0.85em;
}
.navVehicule a:hover{/*Hover des links*/
    background-color: var(--brown);
    color: var(--white);
}


.vehiculeSection{/*contenaire des infos*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 20%;
}

.vehiculeSection > p{/*Style du chemin affiché en dessous de la barre de navigation*/
    color: #999;
    height: 50px;
    text-transform: uppercase;
    margin-top: 10px;
    font-family: 'Montserrat' !important;
    font-weight: 500;
}
.vehiculeSectionTitle{/*Style du H1 qui est la marque et le modèle du véhicule*/
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 700px;
}

/*barre de lien description technique etc ...*/
.vehiculeSectionNav{
    display: flex;
    align-items: center;
    background-color: var(--black);
    height: 50px;
    margin: 30px 0;
}
.vehiculeSectionNav a{ /*style les liens*/
    text-align: center;
    color: var(--white);
    text-decoration: none;
    height: 100%;
    width: 18%;
    font-family: 'Montserrat' !important;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
}
.vehiculeSectionNav a:hover{/*style le survol de la barre d'info du vehicule*/
    background-color: var(--white);
    border-top: solid 5px var(--orange);
    color: var(--black);
    height: 120%;
    padding-bottom: 5px;
}

/*style de la description*/
.vehiculeSectionText{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    min-height: 400px;
    margin-bottom: 20px;
}
.vehiculeSectionText h2{
    font-size: 0.9em;
    color: #666;
}
.vehiculeSectionText p{
    font-size: 1.1em;
}
.vehiculeSectionText em{
    font-size: 1.2em;
    border-left: solid 5px var(--orange);
    padding-left: 20px;
    color: #666;
}

/*Style de la liste OPTIONS*/
.vehiculeSectionOptions{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    margin-bottom: 50px !important;
}
.vehiculeSectionOptions ul{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 2%;
    height: 120px;
    list-style-image: url('/Ressources/Club Auto - Charte graphique&Images/Club Auto - Images/images/circle-check-solid.svg');
}


img{
    width: 100%; /*définit une taille d'image de base*/
}

/*classes de responsivité*/
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}